@charset 'UTF-8';

@media screen and (min-width: 900px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-width: 560px;
        max-height: 500px;
    }
    
    img {
        display: flex;
        border-radius: 10px 0px 0px 10px;
        max-height: 500px;
        max-width: 280px;
    }

    article > p {
        padding: 10px 10px 0px 0px;
    }


    #price {
        max-width: 65%;
        font-family: 'Fraunces', serif;
        justify-content: center;
    }

    #price > h2 {
        margin-left: 50px;
    }

    article > h1 {
        width: 200px;
    }

    img#cart {
        position: absolute;
        left: 63%;
        bottom: 9%;
        border-radius: 0%;
        cursor: pointer;
        height: 17px;
    }

    input {
        height: 20px;
        line-height: 1px;
        width: 90%;
        display: flex;
        justify-content: center;
    }
}