@charset 'UTF-8';

@media screen and (min-width: 1440px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 585px;
        max-height: 400px;
    }
    
    img {
        border-radius: 10px 0px 0px 10px;
        max-height: 400px;
    }

    #price {
        max-width: 65%;
        font-family: 'Fraunces', serif;
        justify-content: center;
    }

    #price > h2 {
        margin-left: 50px;
    }

    img#cart {
        position: absolute;
        left: 61%;
        bottom: 19%;
        border-radius: 0%;
        cursor: pointer;
    }
}