@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: hsl(185, 75%, 39%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.bg {
    position: absolute;
    z-index: -1;
}

.bg-pattern-top {
    width: 250px;
    right: 10em;
    bottom: 28em;
}

.bg-pattern-bottom {
    width: 250px;
    left: 7em;
    top: 28em;
    overflow: hidden;
}

main {
    background-color: white;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    color: hsl(229, 23%, 23%);

}

.bg-pattern-card {
    width: 290px;
    border-radius: 10px 10px 0 0;
}

.img-perfil {
    border-radius: 50%;
    border: 5px solid white;
    width: 35%;
    object-fit: cover;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233) ;
    width: 100%;
    padding-bottom: 6%;

}

.foll {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    top: -10%;
    justify-content: space-around;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin: 2%;
}


h1 {
    font-size: 1.2em;
}

p {
    color: hsl(227, 10%, 46%);
    font-size: 1em;
}

span > p {
    font-size: 1.1em;
}

@media (min-width: 900px) {

    .bg {
        width: 900px;
        position: absolute;
        z-index: -1;
    }

    .bg-pattern-top {
        left: -8em;
        top: -15em;
    }
    
    .bg-pattern-bottom {
        left: 50em;
        top: 25em;
    }

    main {
        width: 380px;
    }
    .bg-pattern-card {
        width: 390px;
    }

    h1 {
        font-size: 2em;
    }
    

    p {
        color: hsl(227, 10%, 46%);
        font-size: 1em;
    }
    
    span > p {
        font-size: 1.3em;
    }
}